.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;

  justify-content: center;
  align-items: center;
}

.header {
  font-size: 1.8rem;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.loadingText {
  font-size: 1.2rem;
  margin-top: 30px;
  color: #3b3b3b;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid #ccc;
  border-top: 4px solid #fd8787;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.errorContainer {
  color: red;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
}

.errorMessage {
  font-size: 1.5rem;
  font-weight: bold;
}

.successContainer {
  padding: 30px;
  border: 2px solid #ff7c7c;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successMessage {
  color: #3b3b3b;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.deviceContainer {
  margin: 20px 0;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.deviceHeader {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.messageContainer {
  margin-top: 10px;
  font-size: 1.2rem;
}

.waitingContainer {
  color: orange;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
}

.waitingMessage {
  font-size: 1.2rem;
  font-weight: bold;
}

.detectButton,
.reconnectButton {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #fd8787;
  font-weight: 700;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  transition: all 0.3s ease;
}

.detectButton:disabled,
.reconnectButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  box-shadow: none;
}

.detectButton:hover:not(:disabled),
.reconnectButton:hover:not(:disabled) {
  background-color: #ff4c4c;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotatedimage {
  width: 220px;
  margin-left: 15px;
  transform: rotate(10deg);
}

.showimage {
  width: 150px;
  margin: 20px 0;
}
