.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button:active {
  background-color: #004494;
  transform: translateY(0);
}

.statusContainer {
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.status {
  margin-left: 10px; /* Sensor Data와 간격 조정 */
  font-weight: bold; /* 강조 */
  color: red; /* 텍스트 색상 */
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonContainer .button {
  color: #3b3b3b;
  background-color: #ffebeb;
  align-self: center;
  width: 150px;
}

.buttonContainer {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
